.header {
  position: absolute;
}

.header__container {
  @include block-center;
  padding: 20px 15px;

  @media (min-width: $tablet-width) {
    padding: 30px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 100px;
  }
}

.header__nav {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  min-height: 54px;
}

.header__nav--is-closed .header__list {
  display: none;
}

.header__nav--is-open .header__list {
  display: block;
}

.header__logo {
  width: 52px;
  height: 52px;
  z-index: 3;

  justify-self: start;
}

.header__button {
  justify-self: end;
  z-index: 10;
  min-width: 136px;

  transition: min-width 300ms;

  &:hover,
  &:focus {
    min-width: 100%;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    &:hover,
    &:focus {
      min-width: 286px;
    }
  }
}

.header__button:hover + .header__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.header__button:focus + .header__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.header__nav--is-closed .header__button::after {
  background-image: url("/__spritemap#sprite-menu-view");
  background-size: 18px 8px;
}

.header__nav--is-open .header__button::after {
  background-image: url("/__spritemap#sprite-cross-view");
  background-size: 18px 18px;
  background-color: $base-white;
}

.header__nav--is-open .header__button {
  min-width: 100%;
  background-color: $primary;
  color: $base-white;

  @media (min-width: $tablet-width) {
    min-width: 286px;
  }
}

.header__nav--is-open .header__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.header__list {
  @include list;

  position: absolute;
  z-index: 10;
  top: 58px;
  right: 0;
  min-width: 100%;
  padding: 35px 25px;
  border-radius: 16px;
  background-color: $primary;
  color: $base-white;

  @media (min-width: $tablet-width) {
    min-width: 286px;
  }
}


.header__item {
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }
}

.header__item--sub {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.header__sub-list {
  @include list;

  display: none;
  padding: 20px 0 0 16px;
}

.header__link {
  @include link;
  @include button;

  display: block;
  font-size: 16px;
  line-height: 12px;
  color: $base-white;
  text-transform: uppercase;
  opacity: 0.7;

  &:hover,
  &:focus {
    outline: none;
    opacity: 1;
  }
}

.header__link--button {
  position: relative;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding-right: 22px;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-image: url("/__spritemap#sprite-arrow-view");
  }
}

.header__link--active {
  opacity: 1;

  &::after {
    transform: rotate(180deg);
  }
}

.header__link--sub {
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
}

.header__item--open .header__sub-list {
  display: block;
}
