.page {
  height: 100%;
}

.page__body {
  @include text-regular;

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100%;

  font-family: $font;
  font-weight: 400;
  font-size: 14px;
  color: $base-dark;
  background-color: $biege;
;

  main {
    flex-grow: 1;
  }
}


  .page__hero {
    background-color: $biege;
    position: relative;
    margin: 0 auto;
    width: 320px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}


.page__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: $dark-overlay;
}

.page__body--menu-is-open {
  overflow: hidden;
}

.page__body--menu-is-open .page__overlay {
  display: block;
}
