/* здесь используйте глобальные переменные */
// Fonts //

$font: "Manrope", "Arial", sans-serif;

// Viewports //

$tablet-width: 768px;
$desktop-width: 1440px;

// Colors //

$base-white: #ffffff;
$base-dark: #484848;
$primary: #316dc2;
$biege: #f0efe9;

// States //

$active: #275699;
$error: #ff5e66;
$disabled: #a9afb7;

// Overlay //

$dark-overlay: rgb(13, 29, 51, 0.4);
$photo-overlay: rgb(49, 109, 194, 0.2);
